<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wood121.viewdemos"
    tools:ignore="ExtraText">

    <permission
        android:name="com.example.wood121.viewdemos.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.example.wood121.viewdemos.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".UserApp"
        android:allowBackup="false"
        android:appComponentFactory="haha"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory,icon,label,theme,allowBackup"
        tools:targetApi="p">
        <activity android:name=".jnis.JNIDemoActivity"/>
        <!--<activity android:name=".views.widgets.CoordinatorLayout.CoordinatorLayoutActivity" />-->
        <activity android:name=".views.widgets.ConstraintActivity" />
        <activity android:name=".views.widgets_self.danmu.DanMuActivity" />
        <activity android:name=".views.widgets.viewpager.GuideNewActivity" />
        <activity android:name=".views.widgets.viewpager.ViewPagerActivity" />
        <activity android:name=".views.widgets.tablayout.TablayoutActivity" />
        <activity android:name=".base.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sdk_thirdparty.QrCodeActivity"
            android:process=":haha" />
        <activity android:name=".views.widgets_self.circlecheck.CheckProcessActivity" />
        <activity android:name=".views.charts.bing.BingActivity" />
        <activity android:name=".views.charts.line.ZheActivity" />
        <activity android:name=".views.widgets_self.topbar.TopbarActivity" />
        <activity android:name=".views.widgets.RecyclerView.RecActivity" />
        <activity android:name=".views.widgets_self.base.View3StepActivity" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.wood121.viewdemos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".apis.audio_video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_video"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".frames.wireless_iot.BlueToothActivity" />
        <activity android:name=".sdk_thirdparty.ExcelContentActivity" />
        <activity android:name=".frames.net.rxjava_retrofit_okhttp.Okhttp3Activity" />
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.wood121.viewdemos" />
            </intent-filter>
        </activity>
        <activity android:name=".sdk_thirdparty.map.BaiduMapActivity" />
        <activity android:name=".sdk_thirdparty.map.MapActivity" />
        <activity android:name=".math.ProxyActivity" />
        <activity android:name=".frames.LeakCanaryActivity" />
        <activity android:name=".apis.ipc.MessengerActivity" />
        <activity android:name=".sdk_thirdparty.map.AddressActivity" />
        <activity android:name=".apis.data_storage.DataStorageActivity" />
        <activity android:name=".apis.data_storage.FileStorageActivity" />
        <activity android:name=".frames.net.rxjava_retrofit_okhttp.RetrofitActivity" />
        <activity android:name=".frames.net.rxjava_retrofit_okhttp.RxjavaActivity" />
        <activity android:name=".frames.net.rxjava_retrofit_okhttp.RxjavaRetrofitTotalActivity" />
        <activity android:name=".apis.threads.AsynTaskActivity" />
        <activity android:name=".apis.threads.ExecutorActivity" />
        <activity android:name=".apis.LamadaActivity" />
        <activity android:name=".views.widgets.recaction.RecItemClickConflictActivity" />
        <activity android:name=".apis.database_.sqlite_book.SqliteActivity" />
        <activity android:name=".apis.database_.sqlite_device.SqliteDeviceActivity" /> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.example.wood121.viewdemos.DataProvider"
            android:exported="false" /> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.example.wood121.viewdemos.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.example.wood121.viewdemos" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <!-- <receiver -->
        <!-- android:name=".net.jpush.MyReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash; Required  用户注册SDK的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash; Required  用户接收SDK消息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash; Required  用户接收SDK通知栏信息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash; Required  用户打开自定义通知栏的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION" /> &lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
        <!-- <category android:name="com.example.wood121.viewdemos" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- <receiver android:name=".net.jpush.MyJPushMsgReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" /> -->
        <!-- <category android:name="com.example.wood121.viewdemos" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="008050843a21edb24ee68dc9" /> <!-- </>值来自开发者平台取得的AppKey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="t0cfQ7b2T6d5ENv4ozcUlkytViKCy2G5" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bee8501f1f5567da000020c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote" /> <!-- <service -->
        <!-- android:name=".service.MyService"/> -->
        <service
            android:name=".apis.ipc.MyMessengerService"
            android:enabled="true"
            android:exported="true" /> <!-- 权限在4.0之后需要进行声明 -->
        <service
            android:name=".codebase_practice.RobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name=".apis.service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".views.widgets.DialogWithContextActivity" />
        <activity android:name=".views.charts.ChartsActivity" />
        <activity android:name=".views.widgets.WidgetsActivity" />
        <activity android:name=".views.widgets_self.WidgetsSelfActivity" />
        <activity android:name=".sdk_thirdparty.login_share.LoginActivity" />
        <activity android:name=".frames.wireless_iot.WirelessIotActivity" />
        <activity android:name=".frames.net.rxjava_retrofit_okhttp.HttpRequestActivity" />
        <activity android:name=".apis.database_.DBActivity" />
        <activity android:name=".apis.threads.ThreadsActivity" />
        <activity android:name=".apis.ipc.IpcActivity" />
        <activity android:name=".apis.audio_video.AVActivity" />
        <activity android:name=".apis.bitmaps.BitmapsActivity" />
        <activity android:name=".apis.bitmaps.TakePhotoActivity" />
        <activity android:name=".views.webview.WebViewActivity" /> <!-- 新浪 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".sdk_thirdparty.login_share.HomeActivity" />
        <activity android:name=".apis.broadcast.LocalBroadcastActivity" />
        <activity android:name=".apis.IntentActivity" />
        <activity android:name=".apis.ClazzActivity" />
        <activity android:name=".apis.annotation.AnnotationActivity" />
    </application>

</manifest>